.board {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.game-board {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-gap: 10px;
    padding: 20px;
    border: 2px solid #333;
    /*width: 50%;
    height: 50%;*/
}

.category, .question {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.question {
    background-color: #4c86af;
    color: #fff;
}

@media (max-width: 768px) {
    .game-board {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        grid-gap: 5px;
    }
}

.modal {
    width: 80%;
    max-width: 900px;
    padding: 1.3rem;
    min-height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
  }

.cls {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: background 0.3s ease-in-out;
}

.add {
    position: absolute;
    bottom: 10px;
    right: 40%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: background 0.3s ease-in-out;
}

.subtract {
    position: absolute;
    bottom: 10px;
    left: 40%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: background 0.3s ease-in-out;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}